<section class="min-h-screen max-w-4xl flex flex-col">
  <div class="grow flex flex-col justify-center">
    <h1 class="md:text-8xl font-bold text-gray-900 mb-6 md:mb-12 md:-mt-12">
      {{ data().firstName }}&nbsp;<span class="text-cyan-blue">{{ data().lastName }}</span>
    </h1>
    @for (line of data().taglines; track line) {
      <p class="text-2xl font-bold text-gray-700 mb-3 max-w-3xl text-balance">{{ line }}</p>
    }
  </div>
  <div class="flex-none h-16 flex justify-center items-center">
    <i-lucide [img]="ArrowIcon" class="w-8 h-8"></i-lucide>
  </div>
</section>
