.scroll-button {
  animation: opacityAnimation linear;
  animation-timeline: scroll();
}

@keyframes opacityAnimation {
  from {
    opacity: 1;
  }

  15%,
  to {
    opacity: 0;
  }
}

.last-name:hover {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
